.main {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 60px calc(100vw - 60px);
  overflow: hidden;
  background-color: #FFFFFF;
  .content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px calc(100vh - 160px);
    padding: 40px 38px;
    .header {
      width: 100%;
      height: 100%;
    }
    .info-area {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      .news, .favorite{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #ECEEEB;
        border-radius:12px;
      }
    }
  }
}
