<div class="main">
  <div class="aside-munu">
    <app-aside-menu></app-aside-menu>
  </div>
  <div class="content">
    <div class="header"><app-homepage-header></app-homepage-header></div>
    <div class="info-area">
      <div class="news"><app-news style="height: 100%"></app-news></div>
      <div class="favorite"><app-favorite></app-favorite></div>
    </div>
  </div>
</div>
