#Webcampage-header{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:  24px 868px 1fr;
  column-gap: 16px;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  .text{
    width:830px;
    color: var(--his-sys-light-on-surface, #191C1A);


    /* HIS/title/large */
    font-family: Noto Sans TC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
  }
  .right{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
    align-items: center;
  }
}
