<div id="Webcampage-header">
  <div class="assignment">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M19 3H14.82C14.4 1.84 13.3 1 12 1C10.7 1 9.6 1.84 9.18 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM12 3C12.55 3 13 3.45 13 4C13 4.55 12.55 5 12 5C11.45 5 11 4.55 11 4C11 3.45 11.45 3 12 3ZM14 17H7V15H14V17ZM17 13H7V11H17V13ZM17 9H7V7H17V9Z"
        fill="#191C1A"
      />
    </svg>
  </div>
  <div class="text">
    2023-04-11 下午 305診 4號-林明樺 0038842103 男 1943-08-30 (79Y 9M)
    #189162254
  </div>

  <div class="right">
    <div class="allow">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Icons/Normal/Arrow Left">
          <path
            id="Vector"
            d="M11.83 11.58L15 8.41L13.59 7L9 11.58L13.59 16.17L15 14.75L11.83 11.58Z"
            fill="#191C1A"
          />
        </g>
      </svg>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Icons/Normal/Arrow Right">
          <path
            id="Vector"
            d="M12.17 11.59L9 14.76L10.41 16.17L15 11.59L10.41 7L9 8.42L12.17 11.59Z"
            fill="#191C1A"
          />
        </g>
      </svg>
    </div>
    <div class="search">
      <i class="pi pi-search"></i>
      <input type="text" class="search-box" placeholder="查詢" />
    </div>
    <div class="view-list">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
      >
        <path
          d="M9 20H13V16H9V20ZM9 25H13V21H9V25ZM9 15H13V11H9V15ZM14 20H26V16H14V20ZM14 25H26V21H14V25ZM14 11V15H26V11H14Z"
          fill="#191C1A"
        />
      </svg>
    </div>
  </div>
</div>
