#Favorite{
  height: 100%;
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-rows: 40px 1fr;
  row-gap: 16px;
  .favorite-header{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .favorite-title{
      color: var(--his-sys-light-on-surface, #191C1A);
      /* HIS/headline/medium */
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px; /* 128.571% */
    }
  }
  .favorite-card-container{
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    grid-gap: 12px;
    overflow: hidden;
    overflow-y: overlay;

  }
  .favorite-card{
    width: 240px;
    height: 120px;
  }
}
