<div id="Favorite">
  <div class="favorite-header">
    <div class="favorite-title">我的最愛</div>
    <div class="favorite-button">
      <p-button
        label="查看更多"
        styleClass="p-button-rounded p-button-success"
        [style]="{ height: '32px', width: '110px' }"
      ></p-button>
    </div>
  </div>
  <div class="favorite-card-container">
    <app-favorite-card
      *ngFor="let card of cards"
      [card]="card"
    ></app-favorite-card>
  </div>
</div>
