<div id="Webcampage-content">
  <div class="content-left">
    <div class="container-left" *ngFor="let card of cards">
      <app-left-content-card [card]="card"></app-left-content-card>
    </div>
  </div>
  <div class="content-middle"></div>
  <div class="content-right"></div>
</div>
