#Webcampage-content{
  width: 100%;
  height: calc(100vh - 240px);
  background-color: blue;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  background-color: #F8F9F7;
  .content-left{
    padding: 12px;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill,210px);
    grid-gap: 12px;
    overflow: hidden;
    overflow-y: overlay;
    background-color: #ECEEEB;
    border-radius: 20px;
  }

  .content-middle{
    width: 100%;
    height: 100%;
    background-color: #ECEEEB;
    border-radius: 20px;
  }

  .content-right{
    width: 100%;
    height: 100%;
    background-color: #ECEEEB;
    border-radius: 20px;
  }
}
