#News{
  width: 100%;
  height: 100%;
  padding: 16px;
  display: grid;
  grid-template-rows: 40px 1fr;
  row-gap: 16px;
  overflow: hidden;
  .news-header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;  // 垂直置中對齊
    .news-title{
      color: var(--his-sys-light-on-surface, #191C1A);
      /* HIS/headline/medium */
      font-family: Roboto;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px; /* 128.571% */
    }
  }
  .news-list{
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: white;
    overflow: hidden;
    overflow-y: overlay; // 長在內容內的捲軸
    .row {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 24px;
      margin: 12px 0;
      border-bottom: 1px solid #ccc;

    }
  }
}
