<div id="News">
  <div class="news-header">
    <div class="news-title">最新消息</div>
    <div class="news-button">
      <p-button
        label="查看更多"
        styleClass="p-button-rounded p-button-success"
        [style]="{ height: '32px', width: '110px' }"
      ></p-button>
    </div>
  </div>
  <div class="news-list">
    <div class="row" *ngFor="let product of products">
      <span>{{ product.date }}</span>
      <span>{{ product.content }}</span>
      <a href="#">{{ product.path }}</a>
    </div>
    <!-- <p-table [value]="products" [tableStyle]="{ 'max-width': '45rem' }">
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.date }}</td>
          <td>{{ product.content }}</td>
          <td>
            <a href="#">{{ product.path }}</a>
          </td>
        </tr>
      </ng-template>
    </p-table> -->
  </div>
</div>
