<div class="menu-contain">
  <div class="logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <g clip-path="url(#clip0_1001_13984)">
        <path
          d="M12.0009 6.375C12.0009 9.4816 9.53387 12 6.49067 12H0.980469V6.375C0.980469 3.26839 3.44747 0.75 6.49067 0.75C9.53387 0.75 12.0009 3.26839 12.0009 6.375Z"
          fill="#17CF97"
        />
        <path
          d="M12 17.625C12 14.5184 14.467 12 17.5102 12H23.0204V17.625C23.0204 20.7316 20.5534 23.25 17.5102 23.25C14.467 23.25 12 20.7316 12 17.625Z"
          fill="#17CF97"
        />
        <path
          d="M0.980469 17.625C0.980469 20.7316 3.44747 23.25 6.49067 23.25H12.0009V17.625C12.0009 14.5184 9.53387 12 6.49067 12C3.44747 12 0.980469 14.5184 0.980469 17.625Z"
          fill="#17CF97"
        />
        <path
          d="M23.0204 6.375C23.0204 3.26839 20.5534 0.75 17.5102 0.75H12V6.375C12 9.4816 14.467 12 17.5102 12C20.5534 12 23.0204 9.4816 23.0204 6.375Z"
          fill="#17CF97"
        />
      </g>
      <defs>
        <clipPath id="clip0_1001_13984">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>

  <div class="home">
    <a routerLink="/homepage"
      ><i class="pi pi-home" style="font-size: 1rem"></i
    ></a>
  </div>
  <div class="user"><i class="pi pi-user" style="font-size: 1rem"></i></div>
  <div class="notifications">
    <i class="pi pi-bell" style="font-size: 1rem"></i>
  </div>
  <div class="apps">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
    >
      <g clip-path="url(#clip0_1010_13999)">
        <path
          d="M4 8H8V4H4V8ZM10 20H14V16H10V20ZM4 20H8V16H4V20ZM4 14H8V10H4V14ZM10 14H14V10H10V14ZM16 4V8H20V4H16ZM10 8H14V4H10V8ZM16 14H20V10H16V14ZM16 20H20V16H16V20Z"
          fill="#191C1A"
        />
      </g>
      <defs>
        <clipPath id="clip0_1010_13999">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="logout">
    <a routerLink="/login">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M16.5 7.6L15.231 8.869L17.553 11.2H8.4V13H17.553L15.231 15.322L16.5 16.6L21 12.1L16.5 7.6ZM4.8 5.8H12V4H4.8C3.81 4 3 4.81 3 5.8V18.4C3 19.39 3.81 20.2 4.8 20.2H12V18.4H4.8V5.8Z"
          fill="#191C1A"
        />
      </svg>
    </a>
  </div>
</div>
