.menu-contain{
  height: 100%;
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  background-color: #ECEEEB;
  .logo ,.home,.user,.notifications,.apps,.logout{
    text-align: center;
  }
}
