#Sidemenu{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 824px 1fr;

  .closed{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .top{
      width: 100%;
      height: 70%;
      display: flex;
      justify-content:flex-start;
      flex-direction: column;
      .toggle-close,.assignment,.invert{
        text-align: center;
      }

    }
    .footer{
      width: 100%;
      height: 30%;
      display: flex;
      justify-content:space-between;
      flex-direction: column;
      .logo, .home,.user,.notifications,.apps,.logout{
        text-align: center;
      }
    }
  }

  .open{
    width: 100%;
    height: 100%;
  }
}
