<div id="Sidemenu">
  <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <div class="closed" *ngIf="!isOpen">
      <div class="top">
        <button class="toggle-close" (click)="toggle()" *ngIf="!isOpen">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M15.5 5L11 5L16 12L11 19L15.5 19L20.5 12L15.5 5Z"
              fill="#006C4F"
            />
            <path
              d="M8.5 5L4 5L9 12L4 19L8.5 19L13.5 12L8.5 5Z"
              fill="#006C4F"
            />
          </svg>
        </button>
        <div class="assignment">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
          >
            <g clip-path="url(#clip0_1010_14533)">
              <path
                d="M23.75 3.75H18.525C18 2.3 16.625 1.25 15 1.25C13.375 1.25 12 2.3 11.475 3.75H6.25C4.875 3.75 3.75 4.875 3.75 6.25V23.75C3.75 25.125 4.875 26.25 6.25 26.25H23.75C25.125 26.25 26.25 25.125 26.25 23.75V6.25C26.25 4.875 25.125 3.75 23.75 3.75ZM15 3.75C15.6875 3.75 16.25 4.3125 16.25 5C16.25 5.6875 15.6875 6.25 15 6.25C14.3125 6.25 13.75 5.6875 13.75 5C13.75 4.3125 14.3125 3.75 15 3.75ZM15 8.75C17.075 8.75 18.75 10.425 18.75 12.5C18.75 14.575 17.075 16.25 15 16.25C12.925 16.25 11.25 14.575 11.25 12.5C11.25 10.425 12.925 8.75 15 8.75ZM22.5 23.75H7.5V22C7.5 19.5 12.5 18.125 15 18.125C17.5 18.125 22.5 19.5 22.5 22V23.75Z"
                fill="#191C1A"
              />
            </g>
            <defs>
              <clipPath id="clip0_1010_14533">
                <rect width="30" height="30" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="invert">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
          >
            <g clip-path="url(#clip0_1010_14537)">
              <path
                d="M22.075 9.91289L15 2.83789L7.925 9.91289C4.025 13.8129 4.025 20.1504 7.925 24.0504C9.875 26.0004 12.4375 26.9754 15 26.9754C17.5625 26.9754 20.125 26.0004 22.075 24.0504C25.975 20.1504 25.975 13.8129 22.075 9.91289ZM15 24.4879C13 24.4879 11.1125 23.7129 9.7 22.2879C8.275 20.8629 7.5 18.9879 7.5 16.9879C7.5 14.9879 8.275 13.1004 9.7 11.6879L15 6.37539V24.4879Z"
                fill="#006C4F"
              />
            </g>
            <defs>
              <clipPath id="clip0_1010_14537">
                <rect width="30" height="30" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
      <div class="footer">
        <div class="logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g clip-path="url(#clip0_1001_13984)">
              <path
                d="M12.0009 6.375C12.0009 9.4816 9.53387 12 6.49067 12H0.980469V6.375C0.980469 3.26839 3.44747 0.75 6.49067 0.75C9.53387 0.75 12.0009 3.26839 12.0009 6.375Z"
                fill="#17CF97"
              />
              <path
                d="M12 17.625C12 14.5184 14.467 12 17.5102 12H23.0204V17.625C23.0204 20.7316 20.5534 23.25 17.5102 23.25C14.467 23.25 12 20.7316 12 17.625Z"
                fill="#17CF97"
              />
              <path
                d="M0.980469 17.625C0.980469 20.7316 3.44747 23.25 6.49067 23.25H12.0009V17.625C12.0009 14.5184 9.53387 12 6.49067 12C3.44747 12 0.980469 14.5184 0.980469 17.625Z"
                fill="#17CF97"
              />
              <path
                d="M23.0204 6.375C23.0204 3.26839 20.5534 0.75 17.5102 0.75H12V6.375C12 9.4816 14.467 12 17.5102 12C20.5534 12 23.0204 9.4816 23.0204 6.375Z"
                fill="#17CF97"
              />
            </g>
            <defs>
              <clipPath id="clip0_1001_13984">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="home">
          <a routerLink="/homepage">
            <i class="pi pi-home" style="font-size: 1rem"></i
          ></a>
        </div>
        <div class="user">
          <i class="pi pi-user" style="font-size: 1rem"></i>
        </div>
        <div class="notifications">
          <i class="pi pi-bell" style="font-size: 1rem"></i>
        </div>
        <div class="apps">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g clip-path="url(#clip0_1010_13999)">
              <path
                d="M4 8H8V4H4V8ZM10 20H14V16H10V20ZM4 20H8V16H4V20ZM4 14H8V10H4V14ZM10 14H14V10H10V14ZM16 4V8H20V4H16ZM10 8H14V4H10V8ZM16 14H20V10H16V14ZM16 20H20V16H16V20Z"
                fill="#191C1A"
              />
            </g>
            <defs>
              <clipPath id="clip0_1010_13999">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="logout">
          <a routerLink="/login">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M16.5 7.6L15.231 8.869L17.553 11.2H8.4V13H17.553L15.231 15.322L16.5 16.6L21 12.1L16.5 7.6ZM4.8 5.8H12V4H4.8C3.81 4 3 4.81 3 5.8V18.4C3 19.39 3.81 20.2 4.8 20.2H12V18.4H4.8V5.8Z"
                fill="#191C1A"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="open" *ngIf="isOpen">
      <div class="open-top">
        <div class="flex">
          <div class="cpoe">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M19 3H14.82C14.4 1.84 13.3 1 12 1C10.7 1 9.6 1.84 9.18 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM12 3C12.55 3 13 3.45 13 4C13 4.55 12.55 5 12 5C11.45 5 11 4.55 11 4C11 3.45 11.45 3 12 3ZM14 17H7V15H14V17ZM17 13H7V11H17V13ZM17 9H7V7H17V9Z"
                fill="black"
              />
            </svg>
            門診醫囑系統
          </div>
          <div class="open-button">
            <button class="toggle-open" (click)="toggle()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M9 19L13.5 19L8.5 12L13.5 5L9 5L4 12L9 19Z"
                  fill="#006C4F"
                />
                <path
                  d="M16 19L20.5 19L15.5 12L20.5 5L16 5L11 12L16 19Z"
                  fill="#006C4F"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="version">Ver</div>
        <div class="open-assignment">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
          >
            <g clip-path="url(#clip0_1010_14533)">
              <path
                d="M23.75 3.75H18.525C18 2.3 16.625 1.25 15 1.25C13.375 1.25 12 2.3 11.475 3.75H6.25C4.875 3.75 3.75 4.875 3.75 6.25V23.75C3.75 25.125 4.875 26.25 6.25 26.25H23.75C25.125 26.25 26.25 25.125 26.25 23.75V6.25C26.25 4.875 25.125 3.75 23.75 3.75ZM15 3.75C15.6875 3.75 16.25 4.3125 16.25 5C16.25 5.6875 15.6875 6.25 15 6.25C14.3125 6.25 13.75 5.6875 13.75 5C13.75 4.3125 14.3125 3.75 15 3.75ZM15 8.75C17.075 8.75 18.75 10.425 18.75 12.5C18.75 14.575 17.075 16.25 15 16.25C12.925 16.25 11.25 14.575 11.25 12.5C11.25 10.425 12.925 8.75 15 8.75ZM22.5 23.75H7.5V22C7.5 19.5 12.5 18.125 15 18.125C17.5 18.125 22.5 19.5 22.5 22V23.75Z"
                fill="#191C1A"
              />
            </g>
            <defs>
              <clipPath id="clip0_1010_14533">
                <rect width="30" height="30" fill="white" />
              </clipPath>
            </defs>
          </svg>
          病人清單
        </div>
        <div class="open-invert">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
          >
            <g clip-path="url(#clip0_1010_14537)">
              <path
                d="M22.075 9.91289L15 2.83789L7.925 9.91289C4.025 13.8129 4.025 20.1504 7.925 24.0504C9.875 26.0004 12.4375 26.9754 15 26.9754C17.5625 26.9754 20.125 26.0004 22.075 24.0504C25.975 20.1504 25.975 13.8129 22.075 9.91289ZM15 24.4879C13 24.4879 11.1125 23.7129 9.7 22.2879C8.275 20.8629 7.5 18.9879 7.5 16.9879C7.5 14.9879 8.275 13.1004 9.7 11.6879L15 6.37539V24.4879Z"
                fill="#006C4F"
              />
            </g>
            <defs>
              <clipPath id="clip0_1010_14537">
                <rect width="30" height="30" fill="white" />
              </clipPath>
            </defs>
          </svg>
          診斷開立
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12.17 11.59L9 14.76L10.41 16.17L15 11.59L10.41 7L9 8.42L12.17 11.59Z"
              fill="#006C4F"
            />
          </svg>
        </div>
      </div>
      <div class="open-footer">
        <div class="open-footer-top">
          <div class="open-logo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_1001_13984)">
                <path
                  d="M12.0009 6.375C12.0009 9.4816 9.53387 12 6.49067 12H0.980469V6.375C0.980469 3.26839 3.44747 0.75 6.49067 0.75C9.53387 0.75 12.0009 3.26839 12.0009 6.375Z"
                  fill="#17CF97"
                />
                <path
                  d="M12 17.625C12 14.5184 14.467 12 17.5102 12H23.0204V17.625C23.0204 20.7316 20.5534 23.25 17.5102 23.25C14.467 23.25 12 20.7316 12 17.625Z"
                  fill="#17CF97"
                />
                <path
                  d="M0.980469 17.625C0.980469 20.7316 3.44747 23.25 6.49067 23.25H12.0009V17.625C12.0009 14.5184 9.53387 12 6.49067 12C3.44747 12 0.980469 14.5184 0.980469 17.625Z"
                  fill="#17CF97"
                />
                <path
                  d="M23.0204 6.375C23.0204 3.26839 20.5534 0.75 17.5102 0.75H12V6.375C12 9.4816 14.467 12 17.5102 12C20.5534 12 23.0204 9.4816 23.0204 6.375Z"
                  fill="#17CF97"
                />
              </g>
              <defs>
                <clipPath id="clip0_1001_13984">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
            雲行至善
          </div>
          <hr />
        </div>

        <div class="open-footer-bottom">
          <div class="open-home">
            <a routerLink="/homepage">
              <i class="pi pi-home" style="font-size: 1rem"></i>
            </a>
          </div>
          <div class="open-user">
            <i class="pi pi-user" style="font-size: 1rem"></i>
          </div>
          <div class="open-notifications">
            <i class="pi pi-bell" style="font-size: 1rem"></i>
          </div>
          <div class="open-apps">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_1010_13999)">
                <path
                  d="M4 8H8V4H4V8ZM10 20H14V16H10V20ZM4 20H8V16H4V20ZM4 14H8V10H4V14ZM10 14H14V10H10V14ZM16 4V8H20V4H16ZM10 8H14V4H10V8ZM16 14H20V10H16V14ZM16 20H20V16H16V20Z"
                  fill="#191C1A"
                />
              </g>
              <defs>
                <clipPath id="clip0_1010_13999">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="open-logout">
            <a routerLink="/login">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M16.5 7.6L15.231 8.869L17.553 11.2H8.4V13H17.553L15.231 15.322L16.5 16.6L21 12.1L16.5 7.6ZM4.8 5.8H12V4H4.8C3.81 4 3 4.81 3 5.8V18.4C3 19.39 3.81 20.2 4.8 20.2H12V18.4H4.8V5.8Z"
                  fill="#191C1A"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
