#Header{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  column-gap: 24px;
  padding-bottom: 40px;
  .welcome-text{
    color: var(--his-sys-light-primary, #006C4F);
    /* HIS/headline/medium */
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
  }
}
