.login-container {
  display: flex; // 彈性排版
  flex-direction: column; // 彈性方向：列（縱）
  justify-content: center;// 版面內容：中間
  align-items: center;
  height: 100vh; /* 設定容器高度，使其佔滿整個畫面 */
}
.login-backed{
  display: flex; // 彈性排版
  flex-direction: column; // 彈性方向：列（縱）
  justify-content: center;// 版面內容：中間
  align-items: center;
  border-radius: 40px;
  background: #FFF;

  /* Card Shadow */
  box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25), 0px -1px 1px 1px rgba(111, 121, 121, 0.10);
  width: 500px;
  height: 600px;

}
.login-logo{
  padding-bottom: 32px;
}
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-text {
  margin-bottom: 20px;
  color: var(--his-sys-light-on-surface, #191C1A);
  /* HIS/title/medium */
  font-family: Noto Sans TC;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.logo-text{
  margin-bottom: 50px;
  color: var(--his-sys-light-primary, #006C4F);
  /* HIS/headline/small */
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.forget-password{
  padding-left: 300px;
  color: var(--his-sys-light-on-surface, #191C1A);
  /* HIS/body/medium */
  font-family: Noto Sans TC;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */

}

.p-button-rounded p-button-success{
  width: 500px;
}

:host ::ng-deep .p-button {
  width: 200px; /* 自定義按鈕的寬度，根據需要調整 */
}
