<div id="Webcampage-content-header">
  <div class="top">
    <div class="text">門診醫囑系統 / 診斷相關</div>
    <div class="help">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
      >
        <path
          d="M17 24H19V22H17V24ZM18 8C12.48 8 8 12.48 8 18C8 23.52 12.48 28 18 28C23.52 28 28 23.52 28 18C28 12.48 23.52 8 18 8ZM18 26C13.59 26 10 22.41 10 18C10 13.59 13.59 10 18 10C22.41 10 26 13.59 26 18C26 22.41 22.41 26 18 26ZM18 12C15.79 12 14 13.79 14 16H16C16 14.9 16.9 14 18 14C19.1 14 20 14.9 20 16C20 18 17 17.75 17 21H19C19 18.75 22 18.5 22 16C22 13.79 20.21 12 18 12Z"
          fill="#191C1A"
        />
      </svg>
    </div>
    <div class="main-button">
      <p-dropdown
        [options]="ditto"
        [(ngModel)]="selectedDitto"
        optionLabel="name"
        placeholder="Ditto"
        [style]="{ width: '110px', height: '40px' }"
      ></p-dropdown>
      <p-dropdown
        [options]="print"
        [(ngModel)]="selectedPrint"
        optionLabel="name"
        placeholder="列印"
        [style]="{ width: '110px', height: '40px' }"
      ></p-dropdown>
      <p-button
        label="預約掛號"
        [style]="{ width: '110px', height: '40px' }"
      ></p-button>
      <button class="give-up">放棄</button>
      <p-button
        label="全部完成"
        [style]="{ width: '110px', height: '40px' }"
      ></p-button>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-left">
      <div class="identity">
        <i class="pi pi-pencil" style="color: #191c1a"></i> 身份：40 健保/無|
      </div>
      <div class="burden">
        <i class="pi pi-pencil" style="color: #191c1a"></i> 負擔：A12一般門診|
      </div>
      <div class="card-number">
        <i class="pi pi-pencil" style="color: #191c1a"></i> 卡號：無|
      </div>
      <div class="course">
        <i class="pi pi-pencil" style="color: #191c1a"></i> 療程：0非療程|
      </div>
      <div class="class">
        <i class="pi pi-pencil" style="color: #191c1a"></i> 類別：4普通疾病|
      </div>
    </div>
    <div class="bottom-right">
      <div class="cdss">
        <button class="cdss-btn" style="width: 84px; height: 40px">CDSS</button>
      </div>
      <div class="record">
        <button class="record-btn" style="width: 84px; height: 40px">
          紀錄
        </button>
      </div>
      <div class="view-module">
        <button class="module-btn" style="width: 36px; height: 36px">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
          >
            <rect width="36" height="36" rx="8" fill="#006C4F" />
            <path
              d="M9 18H14V12H9V18ZM9 25H14V19H9V25ZM15 25H20V19H15V25ZM21 25H26V19H21V25ZM15 18H20V12H15V18ZM21 12V18H26V12H21Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
      <div class="view-stream">
        <button class="stream-btn" style="width: 36px; height: 36px">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
          >
            <rect width="36" height="36" rx="8" fill="white" />
            <path d="M9 25H26V19H9V25ZM9 12V18H26V12H9Z" fill="#191C1A" />
          </svg>
        </button>
      </div>
      <div class="open-in-full">
        <button class="infull-btn" style="width: 36px; height: 36px">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 36 36"
            fill="none"
          >
            <rect width="36" height="36" rx="8" fill="white" />
            <path
              d="M27 17V9H19L22.29 12.29L12.29 22.29L9 19V27H17L13.71 23.71L23.71 13.71L27 17Z"
              fill="#191C1A"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
