#Webcampage-content-header{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows:40px 1fr;
  align-items: center;
  .top{
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns:196px 36px 1fr;
    background-color: #F8F9F7;

    .text{
      width: 196px;
      height:40px;
      line-height: 40px

    }
    .main-button{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      .give-up{
        border-radius: 20px;
        border: 0.5px solid var(--his-sys-light-primary, #006C4F);
        width: 80px;
        height: 40px;
          /* HIS/label/medium */
          font-family: Noto Sans TC;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px; /* 100% */
          color:#006C4F;
          background-color: white;

      }
    }
  }

  .bottom{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: var(--his-sys-light-primary, #006C4F);

    /* HIS/title/medium */
    font-family: Noto Sans TC;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */

    background-color: #F8F9F7;
    .bottom-left{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .bottom-right{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}


:host ::ng-deep .p-dropdown{
  border-radius: 20px;
  background: var(--his-sys-light-primary, #006C4F);
  color: white;
  width: 112px;

}

:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder{
  color: var(--his-sys-light-surface-container-lowest, #FFF);
  text-align: center;

  /* HIS/label/medium */
  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  padding-left: 14px;
}

:host ::ng-deep .p-dropdown .p-dropdown-label{
    color: var(--his-sys-light-surface-container-lowest, #FFF);
  text-align: center;

  /* HIS/label/medium */
  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}

:host ::ng-deep .p-icon{
  color: white;

}

:host ::ng-deep .p-button{
  border-radius: 20px;
  background: var(--his-sys-light-primary, #006C4F);
  color: var(--his-sys-light-surface-container-lowest, #FFF);
  text-align: center;

  /* HIS/label/medium */
  font-family: Noto Sans TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}


.cdss-btn{
  border-radius: 8px;
  border: 1px solid var(--his-sys-light-primary, #006C4F);
  background-color: #F8F9F7;

  color: var(--his-sys-light-primary, #006C4F);
  text-align: center;

  /* HIS/label/large */
  font-family: Noto Sans TC;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  width: 94px;
  height: 40px;
}

.record-btn{
  border-radius: 8px;
  border: 1px solid var(--his-sys-light-primary, #006C4F);
  background-color: #F8F9F7;

  color: var(--his-sys-light-primary, #006C4F);
  text-align: center;

  /* HIS/label/large */
  font-family: Noto Sans TC;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  width: 94px;
  height: 40px;
}

.infull-btn{
  background-color: #FFFFFF;
  border: 0px;
  border-radius:10px;
}

.stream-btn{
  background-color: #FFFFFF;
  border: 0px;
  border-radius:10px;
}

.module-btn{
  background-color: #FFFFFF;
  border: 0px;
  border-radius:10px;
}

.content-header{
  border-radius:100px;
  background-color: #F8F9F7
}
