.menu{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns:60px 200px calc(100vw - 260px);
  justify-content: space-between;
  .side-menu{
    width: 100%;
    height: 100vh;
    background-color: #F8F9F7;
  }
  .bigmenu{
    width: 100%;
    height: 100vh;
    background-color: #D8DBD7;
  }
  .content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 148px 1fr;
    row-gap: 16px;
    justify-content: space-between;
    .header{
      width: 100%;
      height: 100%;
      background-color:#ECEEEB
    }
    .content-header{
      height: 100%;
      width: 100%;
      background-color: #F8F9F7
    }
    .webcampage{
      height: 100%;
      width: 100%;
    }

  }
}
