<div class="menu">
  <div class="side-menu">
    <app-side-menu></app-side-menu>
  </div>
  <div class="bigmenu"><app-side-bigmenu></app-side-bigmenu></div>
  <div class="content">
    <div class="header"><app-webcampage-header></app-webcampage-header></div>
    <div class="content-header">
      <app-webcampage-content-header></app-webcampage-content-header>
    </div>
    <div class="webcampage">
      <app-webcampage-content></app-webcampage-content>
    </div>
  </div>
</div>
