.content-card{
  width: 100%;
  height: 100%;
  .card-header{
    display: flex;
    justify-content: space-between;
    .title{
      color: var(--his-sys-light-on-surface, #191C1A);
      /* HIS/title/medium */
      font-family: Noto Sans TC;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 140% */
      width: 10vw;
    }
  }

  .content{

  }
}
