<p-card [style]="{ width: '200px' }">
  <div class="content-card">
    <div class="card-header">
      <div class="title">{{ card.title }}</div>
      <div class="open">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="37"
          height="36"
          viewBox="0 0 37 36"
          fill="none"
        >
          <rect x="0.5" width="36" height="36" rx="18" fill="#F8F9F7" />
          <path
            d="M25.5 25H11.5V11H18.5V9H11.5C10.39 9 9.5 9.9 9.5 11V25C9.5 26.1 10.39 27 11.5 27H25.5C26.6 27 27.5 26.1 27.5 25V18H25.5V25ZM20.5 9V11H24.09L14.26 20.83L15.67 22.24L25.5 12.41V16H27.5V9H20.5Z"
            fill="#191C1A"
          />
        </svg>
      </div>
    </div>
    <div class="date">{{ card.date }}</div>
    <div class="content">
      <p-scroller
        [items]="items"
        [itemSize]="50"
        scrollHeight="150px"
        styleClass="border-1 surface-border"
        [style]="{ width: '180px', height: '200px' }"
      >
        <ng-template pTemplate="item" let-item let-options="options">
          <div
            class="flex align-items-center p-2"
            [ngClass]="{ 'surface-ground': options.odd }"
            style="height: 80px"
          >
            {{ item }}
          </div>
        </ng-template>
      </p-scroller>
    </div>
  </div>
</p-card>
