<a [routerLink]="card.path">
  <div class="card">
    <div class="card-top">
      <div
        class="icon"
        [innerHTML]="trustedSvg"
        [style.background-color]="card.color"
      ></div>
      <div class="card-right">
        <div class="start">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g clip-path="url(#clip0_1010_7810)">
              <path
                d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"
                fill="#FFB877"
              />
            </g>
            <defs>
              <clipPath id="clip0_1010_7810">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>

        <div class="version">{{ card.version }}</div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="text">{{ card.system }}</div>
      <div class="arrowRight">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M12.17 11.59L9 14.76L10.41 16.17L15 11.59L10.41 7L9 8.42L12.17 11.59Z"
            fill="#191C1A"
          />
        </svg>
      </div>
    </div>
  </div>
</a>
