
a {
  text-decoration: none; /* 取消底線 */
  color: #000; /* 設定文字顏色為黑色 */
}

  .card{
    width: 240px;
    height: 120px;
    padding: 16px 12px;
    display: grid;
    grid-template-rows: 50px 1fr;
    row-gap: 8px;
    border-radius: 12px;
    /* Card Shadow */
    box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25), 0px -1px 1px 1px rgba(111, 121, 121, 0.10);
    background-color: white;
    .card-top{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .icon {
        padding: 8px;
      }
      .card-right {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: flex-end;
        .start{
          justify-content: flex-end;
        }
      }
    }

    .card-bottom{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .text{
        color: var(--his-sys-light-on-surface, #191C1A);
        /* HIS/title/medium */
        font-family: Noto Sans TC;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 140% */
      }
    }

  }

