#Bigmenu{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-x: overlay;
  .p-panelmenu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: overlay;
    .p-component{
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-x: overlay;
    }
  }

}


