/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
/* styles.css */
@import '~normalize.css';
@import '~normalize.css/normalize.css';
@import "node_modules/primeicons/primeicons.css";

*{
  margin:0px;
  padding:0px;
}

body {
  margin:0px 0px 0px 0px ;
}
